---
import Layout from "/src/layouts/Base.astro";
// const { frontmatter } = Astro.props;
// const { title, meta_title, heading, description, date, image, categories, author, tags } = frontmatter;

const posts = await Astro.glob('/src/pages/research/whittaker/aether/*.md'); // returns an array of posts that live at ./src/pages/post/*.md
---


<Layout >
<section class="section pt-7">
  <div class="container">
    <div class="row justify-center">
      <article class="lg:col-10">

          <h1>Cronin</h1> 

        <div class="container p-6 mx-auto grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 gap-4 lg:gap-8">

          {posts.map((post) => (
`
            <a href={post.url} title="{post.frontmatter.title}" class="zoom bg-gray-100 max-w-sm rounded-lg overflow-hidden shadow-lg" data-sal="slide-down">
              <img class="w-full" src="" alt={post.frontmatter.title}>
              <div class="px-6 py-4">
                <small class="leading-none">
                  
                </small>
                <div class="font-bold text-2xl mb-2 leading-none">{post.frontmatter.title} &rarr;</div>
              </div>
            </a>

          ))}

        </div>
        </article>
  </div>  
  </div>

</section>
</Layout>

